<div class="row-fluid">
  <div class="span8">
    <div class="well"><iframe height="298px;" width="100%" src="http://www.youtube.com/embed/RpOHZc6cDIw" frameborder="0" allowfullscreen></iframe></div>
  </div>
  <div class="span4">
    <div style="height:323px;padding:9px 0;" class="well sidebar-nav">
      <ul class="nav nav-list">
        <li style="text-align:center;margin:10px;" class="nav-header">Announcement</li>
        <li><span class="message">Test</span></li>
        <li><span class="message">Test</span></li>
        <li><span class="message">Test</span></li>
        <li><span class="message">Test</span></li>
        <li><span class="message">Test</span></li>
      </ul>
    </div><!--/.well -->
  </div>
</div>
<div class="row-fluid">
  <div class="span2">
    <center>
      <img style="max-height:200px;width:auto;" src="https://chart.googleapis.com/chart?chs=300x300&cht=qr&chl=Hello%20world"/>
    </center>
  </div>
  <div class="span10">
    <div style="margin-top:18px;" class="well">
      <center>
        <h1 style="line-height:50px;">Join the fun here: <a href="#">http://bit.ly/2345sdv</a></h1>
      </center>
    </div>
  </div>
</div>
<div class="row-fluid">
  <div class="span12">
    <div style="padding:19px;">
      <div class="person" style="opacity:1;background-image:url('http://profile.ak.fbcdn.net/hprofile-ak-snc4/370769_53801930_197289114_q.jpg');">
        <div style="padding-top:30px"><div class="ribbon-wrap yellow-ribbon pulse">Taking</div></div>
      </div>

      <div onmouseover="$(this).tooltip('toggle');" rel="tooltip" data-original-title="Matt Gaidica" class="person" style="background-image:url('http://profile.ak.fbcdn.net/hprofile-ak-snc4/370769_53801930_197289114_q.jpg');">
        <div style="padding-top:30px"><div class="ribbon-wrap blue-ribbon">Done</div></div>
      </div>

      <div class="person" style="background-image:url('http://profile.ak.fbcdn.net/hprofile-ak-snc4/370769_53801930_197289114_q.jpg');">
        <div style="padding-top:30px"><div class="ribbon-wrap green-ribbon">100%</div></div>
      </div>
      <div class="person" style="background-image:url('http://profile.ak.fbcdn.net/hprofile-ak-snc4/370769_53801930_197289114_q.jpg');">
        <div style="padding-top:30px"><div class="ribbon-wrap green-ribbon">100%</div></div>
      </div>
      <div class="person" style="background-image:url('http://profile.ak.fbcdn.net/hprofile-ak-snc4/370769_53801930_197289114_q.jpg');">
        <div style="padding-top:30px"><div class="ribbon-wrap green-ribbon">100%</div></div>
      </div>
      <div class="person" style="background-image:url('http://profile.ak.fbcdn.net/hprofile-ak-snc4/370769_53801930_197289114_q.jpg');">
        <div style="padding-top:30px"><div class="ribbon-wrap green-ribbon">100%</div></div>
      </div>
      <div class="person" style="background-image:url('http://profile.ak.fbcdn.net/hprofile-ak-snc4/370769_53801930_197289114_q.jpg');">
        <div style="padding-top:30px"><div class="ribbon-wrap green-ribbon">100%</div></div>
      </div>
      <div class="person" style="background-image:url('http://profile.ak.fbcdn.net/hprofile-ak-snc4/370769_53801930_197289114_q.jpg');">
        <div style="padding-top:30px"><div class="ribbon-wrap green-ribbon">100%</div></div>
      </div>
      <div class="person" style="background-image:url('http://profile.ak.fbcdn.net/hprofile-ak-snc4/370769_53801930_197289114_q.jpg');">
        <div style="padding-top:30px"><div class="ribbon-wrap green-ribbon">100%</div></div>
      </div>
      <div class="person" style="background-image:url('http://profile.ak.fbcdn.net/hprofile-ak-snc4/370769_53801930_197289114_q.jpg');">
        <div style="padding-top:30px"><div class="ribbon-wrap green-ribbon">100%</div></div>
      </div>
      <div class="person" style="background-image:url('http://profile.ak.fbcdn.net/hprofile-ak-snc4/370769_53801930_197289114_q.jpg');">
        <div style="padding-top:30px"><div class="ribbon-wrap green-ribbon">100%</div></div>
      </div>
      <div class="person" style="background-image:url('http://profile.ak.fbcdn.net/hprofile-ak-snc4/370769_53801930_197289114_q.jpg');">
        <div style="padding-top:30px"><div class="ribbon-wrap green-ribbon">100%</div></div>
      </div>
      <div class="person" style="background-image:url('http://profile.ak.fbcdn.net/hprofile-ak-snc4/370769_53801930_197289114_q.jpg');">
        <div style="padding-top:30px"><div class="ribbon-wrap green-ribbon">100%</div></div>
      </div>
      <div class="person" style="background-image:url('http://profile.ak.fbcdn.net/hprofile-ak-snc4/370769_53801930_197289114_q.jpg');">
        <div style="padding-top:30px"><div class="ribbon-wrap green-ribbon">100%</div></div>
      </div>
      <div class="person" style="background-image:url('http://profile.ak.fbcdn.net/hprofile-ak-snc4/370769_53801930_197289114_q.jpg');">
        <div style="padding-top:30px"><div class="ribbon-wrap green-ribbon">100%</div></div>
      </div>
      <div class="person" style="background-image:url('http://profile.ak.fbcdn.net/hprofile-ak-snc4/370769_53801930_197289114_q.jpg');">
        <div style="padding-top:30px"><div class="ribbon-wrap green-ribbon">100%</div></div>
      </div>
      <div class="person" style="background-image:url('http://profile.ak.fbcdn.net/hprofile-ak-snc4/370769_53801930_197289114_q.jpg');">
        <div style="padding-top:30px"><div class="ribbon-wrap green-ribbon">100%</div></div>
      </div>
      <div class="person" style="background-image:url('http://profile.ak.fbcdn.net/hprofile-ak-snc4/370769_53801930_197289114_q.jpg');">
        <div style="padding-top:30px"><div class="ribbon-wrap green-ribbon">100%</div></div>
      </div>
    </div>
  </div>
<div>
<div class="row-fluid">
  <div class="span12">
    <div style="height:350px;" class="well" id="map"></div>
  </div>
<div>